@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/bold.ttf');
  font-weight: 700;
}

html {
  font-family: ChakraPetch;
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202a48;
}

::-webkit-scrollbar-thumb:hover {
  background: #384369;
}

.section {
  @apply grid place-items-center px-7 py-20 md:py-32 xl:py-44;
}
