@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'ChakraPetch';
  src: url('/fonts/chakra-petch/bold.ttf');
  font-weight: 700;
}

html {
  font-family: ChakraPetch;
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
  user-select: none;
}

a:hover {
  color: #0080ff;
  transition: 200ms;
}

a:hover svg {
  color: #0080ff;
}

svg {
  transition: 200ms;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202a48;
}

::-webkit-scrollbar-thumb:hover {
  background: #384369;
}

code {
  font-size: 0.85rem;
  padding: 1px;
  background: #293459;
}

@layer components {
  .section {
    @apply grid place-items-center px-7 py-20 md:py-32 xl:py-44;
  }
  .readme-content {
    @apply relative text-textDark h-full py-4 px-5 overflow-auto [&>h5]:readme-headings [&>p]:readme-paragraphs [&>ul]:readme-lists [&>ol]:readme-lists [&>ul]:list-disc [&>ol]:list-decimal [&>ol>li]:pl-1 [&_a]:readme-links;
  }
  .readme-headings {
    @apply text-base md:text-lg font-semibold;
  }
  .readme-paragraphs {
    @apply text-[.85rem] md:text-[.95rem] leading-[1.8] mt-4 mb-8;
  }
  .readme-lists {
    @apply text-[.85rem] md:text-[.95rem] flex flex-col gap-2.5 leading-[1.75] pl-[17px] mt-4 mb-8;
  }
  .readme-links {
    @apply underline-offset-2 underline;
  }
  .drawer {
    @apply flex flex-col absolute top-0 w-full md:w-[47%] -right-[100%] md:-right-[47%] h-full bg-navyBlue border border-[#1c2340] transition-all duration-300;
  }
  .drawer.open {
    @apply right-[0];
  }
  .drawer-trigger {
    @apply w-7 md:w-10 text-textClear absolute top-1/2 -translate-y-1/2 cursor-pointer z-10 [&>path]:translate-x-[1.5px] bg-navyBlue hover:text-blue transition-all duration-300 right-0;
  }
  .drawer-trigger.open {
    @apply bg-blue hover:text-navyBlue right-full md:right-[47%];
  }
  .drawer-trigger.open > path {
    @apply rotate-180 origin-center;
  }
  .reading-progress-bar {
    @apply absolute bottom-0 left-0 h-0.5 bg-blue;
  }

  .hamburger {
    @apply flex flex-col gap-3 md:hidden z-20;
  }
  .hamburger-line {
    @apply w-9 h-0.5 bg-textClear transition-all duration-300;
  }
  .hamburger-open .hamburger-line:first-of-type {
    @apply rotate-45 translate-y-1.5;
  }
  .hamburger-open .hamburger-line:last-of-type {
    @apply -rotate-45 -translate-y-2;
  }
  .nav-container {
    @apply flex flex-col md:flex-row items-center justify-center text-center gap-14 fixed md:static w-2/3 md:w-min h-full top-0 -right-2/3 text-textClear bg-navyBlue shadow-sm md:shadow-none shadow-[#0e1b2a] transition-all [@media(max-width:30em)]:!duration-300;
  }
  .nav-container.open {
    @apply right-0;
  }
  .nav-container nav {
    @apply flex flex-col md:flex-row gap-14 w-full shadow-inner;
  }
  .nav-container nav a {
    @apply text-[.95rem];
  }
  .button {
    @apply text-center border border-blue hover:bg-blue text-textClear font-medium hover:text-navyBlue duration-300;
  }
  .element-to-animate {
    @apply opacity-0 transition-all duration-[1200ms];
  }
  .element-to-animate.animate-from-top {
    @apply -translate-y-5;
  }
  .element-to-animate.animate-from-bottom {
    @apply translate-y-5;
  }
  .element-to-animate.animate {
    @apply opacity-100 translate-y-0;
  }
}
