---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class='p-10'>
      <p class='text-7xl text-center mt-24 leading-[1.2]'>
        Whereas disregard and contempt for human rights have resulted
      </p>
    </main>
  </body>
</html>
