---
import BaseHead from '../components/BaseHead.astro'
import Hero from '../sections/hero.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import About from '../sections/about.astro'
import Experience from '../sections/experience.astro'
import Laterals from '../components/laterals.astro'
import Projects from '../sections/projects.astro'
import Header from '../components/header.astro'
import Contact from '../sections/contact.astro'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-navyBlue'>
    <Header />
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Contact />

    <Laterals />
  </body>
</html>
