<div>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    xml:space='preserve'
    class='w-8'
    style='shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd'
    viewBox='0 0 3274 1914'
    ><path
      d='M3213 1018c-266 285-574 571-853 848l-2-1c-4 3-8 7-13 10-7 4-14 8-21 11-8 3-17 6-25 7-9 2-17 3-26 3H1001c-9 0-17-1-26-3-9-1-17-4-25-7-7-3-15-7-21-11-5-3-9-7-14-10l-1 1c-286-284-573-568-858-853l-5-6-5-6c-2-2-10-16-11-17l-5-10c-1-4-3-8-4-12l-3-12c-1-3-1-7-1-10l-1-5h-1v-9c1-9 1-18 3-27 1-5 2-10 4-15l2-6 4-9c3-7 7-13 11-19s9-12 14-18c8-8 17-14 26-20 10-6 20-10 31-13 10-3 21-5 32-5 7 0 15 0 23 1l843 165 515-884c5-7 10-14 16-20 8-8 17-15 27-20 6-4 12-7 18-9 6-3 13-5 19-6l3-1c4 0 8-1 12-1 3-1 7-1 11-1h6c4 0 8 0 11 1 4 0 8 1 12 1l2 1c7 1 13 3 20 6 6 2 12 5 18 9 10 5 19 12 27 20 6 6 11 13 16 20l515 884 843-165c8-1 15-1 23-1 11 0 22 2 32 5 11 3 21 7 31 13 9 6 18 12 26 20 5 6 10 12 14 18s8 12 11 19l4 9 2 6c2 5 3 10 4 15 2 9 2 18 3 27v9h-1l-1 5c0 3-1 7-1 10l-3 12c-2 4-3 8-4 12l-5 10c-1 1-9 15-11 17l-5 6-5 6-5 5zm-1039 792-537-613-538 613h1075zm-1190-7 566-645-522-102-4-1-4-1-864-169h-6c-3 0-6 0-9 1s-6 2-9 4c-3 1-5 4-8 6-1 2-3 3-4 5s-3 4-3 6l-2 4c-2 7-3 13-1 21v3c7 18 55 72 126 145l289 287c192 187 390 375 445 429 2 2 3 4 5 5s3 2 5 2zm2177-875c0-8 0-10-2-17l-2-4-3-6c-1-2-3-3-4-5-3-2-5-5-8-6-3-2-6-3-9-4s-6-1-9-1h-6l-864 169-4 1-4 1-522 102 566 645c2 0 3-1 5-2l5-5c55-55 256-245 450-434l281-279c72-75 122-130 128-148l1-3 1-4zM1601 133l-491 845 527 103 527-103-494-848c-1-3-3-6-6-8-2-3-5-5-8-7-3-1-6-3-9-3-3-1-6-2-9-2h-2c-3 0-6 1-9 2-3 0-6 2-9 3-3 2-6 4-8 7-3 2-5 5-7 8l-2 3z'
      style='fill:#E2E8FF;stroke:#E2E8FF;stroke-width:35.2701'></path></svg
  >
</div>
