<footer
  class='max-w-[85rem] mx-auto flex justify-between text-textDark p-7 xl:px-20 md:mb-5 text-sm md:text-base'
>
  <!-- location and time -->
  <div class='flex gap-4 md:gap-8'>
    <p>PERU</p>
    <div id='clock' class='text-textClear w-11'>00:00</div>
  </div>

  <!-- credits -->
  <p>
    <span class='hidden md:inline'>Designed &</span> Built by
    <a class='inline' href='https://www.linkedin.com/in/joangavelan/' target='bl'
      >Joan Gavelán<a></a></a
    >
  </p>

  <!-- site github repo -->
  <a
    class='hidden md:inline-block'
    href='https://github.com/joangavelan/personal-site'
    target='_blank'>Github</a
  >
</footer>

<script>
  function updateClock() {
    let now = new Date()
    let offset = -300
    let timeInLima = new Date(now.getTime() + now.getTimezoneOffset() * 60000 + offset * 60000)
    let hours = timeInLima.getHours() as number | string
    let minutes = timeInLima.getMinutes() as number | string
    let clock = document.getElementById('clock') as HTMLDivElement

    if (hours < 10) {
      hours = '0' + hours
    }

    if (minutes < 10) {
      minutes = '0' + minutes
    }

    clock.innerHTML = hours + ':' + minutes
  }

  setInterval(updateClock, 1000)
</script>
