<div class='px-7'>
  <h1
    class='text-center text-textClear text-[2rem] md:text-[2.5rem] lg:text-[3rem] xl:text-[4rem]'
  >
    Hi! My name is Joan Gavelán, <br class='hidden sm:block' /> I'm a Frontend Developer
    specialized in <br class='hidden sm:block' /> building web applications with
    React.
  </h1>
</div>
