<div class='max-w-max'>
  <p class='text-center text-textClear text-[4rem]'>
    Hi! My name is Joan Gavelán, <br /> I'm a Frontend Developer specialized in <br
    /> building web applications with React.
  </p>
</div>
