<div class='nav-container'>
  <nav>
    <a href='#about'>About</a>
    <a href='#experience'>Experience</a>
    <a href='#projects'>Projects</a>
    <a href='#contact'>Contact</a>
  </nav>
  <button
    class='text-[.9rem] px-10 py-1.5 border border-blue hover:bg-blue hover:text-navyBlue font-medium duration-300'
    >Resume</button
  >
</div>

<div class='hamburger'>
  <div class='hamburger-line'></div>
  <div class='hamburger-line'></div>
</div>

<script>
  const hamburger = document.querySelector('.hamburger') as HTMLDivElement
  const navContainer = document.querySelector('.nav-container') as HTMLDivElement

  hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('hamburger-open')
    navContainer.classList.toggle('open')
  })
</script>
