<div class='nav-container'>
  <nav>
    <a href='#about'>About</a>
    <a href='#experience'>Experience</a>
    <a href='#projects'>Projects</a>
    <a href='#contact'>Contact</a>
  </nav>

  <a
    class='button text-[.9rem] px-10 py-1.5 font-medium'
    href='/files/Joan Gavelán (Front-End Developer) - Resume.pdf'
    target='_blank'>Resume</a
  >
</div>

<div class='hamburger'>
  <div class='hamburger-line'></div>
  <div class='hamburger-line'></div>
</div>

<script>
  const hamburger = document.querySelector('.hamburger') as HTMLDivElement
  const navContainer = document.querySelector('.nav-container') as HTMLDivElement

  hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('hamburger-open')
    navContainer.classList.toggle('open')
  })
</script>
