<div class='h-[18vh] element-to-animate animate-from-bottom'>
  <a href='#about'>
    <svg
      viewBox='0 0 51 50'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='w-8 md:w-10 lg:w-12 fill-textClear hover:fill-blue'
    >
      <path d='M50.75 5.435L44.8163 0.5L25.5 16.53L6.18375 0.5L0.25 5.435L25.5 26.435L50.75 5.435Z'
      ></path>
      <path
        d='M50.75 28.5L44.8163 23.565L25.5 39.595L6.18375 23.565L0.25 28.5L25.5 49.5L50.75 28.5Z'
      ></path>
    </svg>
  </a>
</div>
