---
import Headline from '../components/headline.astro'
import ScrollDown from '../components/scroll-down.astro'
---

<div class='min-h-screen grid place-items-center content-end gap-[23vh]'>
  <Headline />
  <ScrollDown />
</div>
