---
import Header from '../components/header.astro'
import Headline from '../components/headline.astro'
import ScrollDown from '../components/scroll-down.astro'
---

<div class='min-h-screen flex flex-col justify-between items-center'>
  <Header />
  <Headline />
  <ScrollDown />
</div>
